<p>Web家計簿のトップページとなります。</p>



<%= link_to "月別収支確認",lossprofits_path,class: "btn btn-primary" %>
<%= link_to "収入一覧へ",incomes_path,class: "btn btn-primary" %>
<%= link_to "支出一覧へ",outcomes_path,class: "btn btn-primary" %>

<%= link_to "全財産確認",assetdebts_path,class: "btn btn-danger" %>
<%= link_to "資産一覧へ",myassets_path,class: "btn btn-danger" %>
<%= link_to "負債一覧へ",debts_path,class: "btn btn-danger" %>
