<h1>Web家計簿のトップページとなります。</h1>

<ul>
	<li><%= link_to "全財産確認",assetdebts_path %></li>
	<li><%= link_to "月別収支確認",lossprofits_path %></li>
	<li><%= link_to "資産入力フォームへ",new_myasset_path %></li>
	<li><%= link_to "負債入力フォームへ",new_debt_path %></li>
	<li><%= link_to "収入一覧へ",incomes_path %></li>
	<li><%= link_to "支出一覧へ",outcomes_path %></li>
</ul>



<p>画像</p>
<p>画像</p>
<p>画像</p>
<p>画像</p>
<p>画像</p>
<p>画像</p>
<p>画像</p>

