<h1>Assetdebts#index</h1>

<p>①最新の全財産です<%= @assetdebt %></p>
<p>最新(<%= @twomonthago_asset_date %>)の資産合計です<%= @current_asset_sum %></p>
<p>最新(<%= @twomonthago_debt_date %>)の負債合計です<%= @current_debt_sum %></p>
<p>...</p>
<p>②前々月の全財産です<%= @twomonthago_assetdebt %></p>
<p>前々月(<%= @twomonthago_asset_date %>)の資産合計です<%= @twomonthago_asset_sum %></p>
<p>前々月(<%= @twomonthago_debt_date %>)の負債合計です<%= @twomonthago_debt_sum %></p>
<p>...</p>
<p>①-②＝前月比です<%= @assetdebt - @twomonthago_assetdebt %></p>

