月末時点の負債を変更してください。

debtのeditページです。


<% if @debt.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%=form_for(@debt) do |f|%>
<div class="field">
<%= f.label:日付 %><br/>
<%= f.date_field :date, size:25 %>
</div>

<div class="field">
<%= f.label:クレジットカード１ %><br/>
<%= f.number_field :debt1, size:25 %>
</div>

<div class="field">
<%= f.label:クレジットカード2 %><br/>
<%= f.number_field :debt2, size:25 %>
</div>

<div class="field">
<%= f.label:クレジットカード3 %><br/>
<%= f.number_field :debt3, size:25 %>
</div>

<div class="field">
<%= f.label:借入金 %><br/>
<%= f.number_field :debt4, size:25 %>
</div>

<div class="field">
<%= f.label:その他負債 %><br/>
<%= f.number_field :debt5, size:25 %>
</div>

<div class="actions">
<%= f.submit%>
</div>

<%end%>
