<p>debtのindexページです。</p>
<p><%= link_to "負債入力フォームへ",new_debt_path %></p>
<table class="table">

<thead class="thead-dark">
		<tr>
			<th scope="col">id</th>
			<th scope="col">date</th>
			<th scope="col">Card1</th>
			<th scope="col">Card2</th>
			<th scope="col">Card3</th>
			<th scope="col">借入金</th>
			<th scope="col">その他</th>
			<th scope="col">合計</th>
			<th scope="col">編集</th>
			<th scope="col">削除</th>
		</tr>
	</thead>

	<tbody>
		<% @debts.each do|debt| %>
		<tr>
			<td><%= debt.id %></td>
			<td><%= debt.date %></td>
			<td><%= debt.debt1 %></td>
			<td><%= debt.debt2 %></td>
			<td><%= debt.debt3 %></td>
			<td><%= debt.debt4 %></td>
			<td><%= debt.debt5 %></td>
			<td><%= debt.sum %></td>
			<%# sum = debt.sum_debt_from1_to7 %>
			<!-- <td> <%#= sum %></td> -->
			
			<td><%= link_to "編集",edit_debt_path(debt) %></td>
		  <td><%= link_to "削除",debt_path(debt), method: :delete,data:{confirm:'Are you sure?'} %></td>
		</tr>
	<%end%>

	</tbody>

</table>