<p>incomeのindexページです。</p>
<p><%= link_to "収入入力フォームへ",new_income_path %></p>




<table class="table">

	<thead class="thead-dark">
		<tr>
			<th scope="col">id</th>
			<th scope="col">date</th>
			<th scope="col">place</th>
			<th scope="col">marchandise</th>
			<th scope="col">price</th>
			<th scope="col">category_id</th>
			<th scope="col">編集</th>
			<th scope="col">削除</th>
		</tr>
	</thead>

	<tbody>
		<% @incomes.each do|income| %>
			<tr>
				<td><%= income.id %></td>
				<td><%= income.date %></td>
				<td><%= income.place %></td>
				<td><%= income.marchandise %></td>
				<td><%= income.price %></td>
				<td><%= income.category_id %></td>
				<td><%= link_to "編集",edit_income_path(income) %></td>
				<td><%= link_to "削除",income_path(income), method: :delete %></td>
			</tr>
		<%end%>
	</tbody>

	<td><%=  %></td>
	<td><%=  %></td>
	<td><%=  %></td>
	<td><%=  %></td>
	<td><%= @sum_price  %></td>
	<td><%=  %></td>	

</table>



