<p>myassetのindexページです。</p>

<table class="table">

<thead class="thead-dark">
		<tr>
			<th scope="col">id</th>
			<th scope="col">date</th>
			<th scope="col">SMBC</th>
			<th scope="col">UFJ</th>
			<th scope="col">財布</th>
			<th scope="col">財形貯蓄</th>
			<th scope="col">投資口座</th>
			<th scope="col">貸付金</th>
			<th scope="col">その他情報</th>
			<th scope="col">合計</th>
			<th scope="col">編集</th>
			<th scope="col">削除</th>
		</tr>
	</thead>

	<tbody>
	<% @myassets.each do|myasset| %>
		<tr>
			<td><%= myasset.id %></td>
			<td><%= myasset.date %></td>
			<td><%= myasset.asset1 %></td>
			<td><%= myasset.asset2 %></td>
			<td><%= myasset.asset3 %></td>
			<td><%= myasset.asset4 %></td>
			<td><%= myasset.asset5 %></td>
			<td><%= myasset.asset6 %></td>
			<td><%= myasset.asset7 %></td>
			<td><%= myasset.sum %></td>
			<%# sum = myasset.sum_asset_from1_to7 %>
			<!-- <td> <%#= sum %></td> -->
			
			<td><%= link_to "編集",edit_myasset_path(myasset) %></td>
		  <td><%= link_to "削除",myasset_path(myasset), method: :delete,data:{confirm:'Are you sure?'} %></td>
		</tr>
	<%end%>

	</tbody>

</table>


