<p>outcomeのindexページです。</p>
<p><%= link_to "支出入力フォームへ",new_outcome_path %></p>



<table class="table">

<thead class="thead-dark">
		<tr>
			<th scope="col">id</th>
			<th scope="col">date</th>
			<th scope="col">place</th>
			<th scope="col">marchandise</th>
			<th scope="col">price</th>
			<th scope="col">category_id</th>
			<th scope="col">編集</th>
			<th scope="col">削除</th>
		</tr>
	</thead>

	<tbody>
		<% @outcomes.each do|outcome| %>
		<tr>
			<td><%= outcome.id %></td>
			<td><%= outcome.date %></td>
			<td><%= outcome.place %></td>
			<td><%= outcome.marchandise %></td>
			<td><%= outcome.price %></td>
			<td><%= outcome.category_id %></td>
			<td><%= link_to "編集",edit_outcome_path(outcome) %></td>
		  <td><%= link_to "削除",outcome_path(outcome), method: :delete %></td>
		</tr>
	<%end%>

	</tbody>

	<td><%=  %></td>
	<td><%=  %></td>
	<td><%=  %></td>
	<td><%=  %></td>
	<td><%= @sum_price  %></td>
	<td><%=  %></td>	

</table>
