<!DOCTYPE html>
<html>
  <head>
    <title>Accountapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
  <div class="wrapper-all">
    <header>
      <div class="top-title center">
        <h1>Web家計簿</h1>
      </div>

      <div class="center">

        <%= link_to "TOPへ",root_path,class: "btn btn-light" %>
        <%= link_to "支出入力",new_income_path,class: "btn btn-primary" %>
        <%= link_to "収入入力",new_outcome_path, class: "btn btn-primary" %>
        <%= link_to "資産入力",new_myasset_path, class: "btn btn-danger" %>
        <%= link_to "負債入力",new_debt_path, class: "btn btn-danger" %>

      </div>
    </header>

    <div class="main">  

      <%= yield %>

    </div>


    <footer>
      <div class="center">
        <%= link_to "月別収支確認",lossprofits_path,class: "btn btn-primary center" %>
        <%= link_to "収入一覧へ",incomes_path,class: "btn btn-primary center" %>
        <%= link_to "支出一覧へ",outcomes_path,class: "btn btn-primary center" %>
        <%= link_to "全財産確認",assetdebts_path,class: "btn btn-danger center" %>
        <%= link_to "資産一覧へ",myassets_path,class: "btn btn-danger center" %>
        <%= link_to "負債一覧へ",debts_path,class: "btn btn-danger center" %>
        <p>フッターと申します。copyrightなんちゃら</p>
      </div>
    </footer>
  </div><!-- class="wrapper-all" -->
  </body>
</html>
